---
products:
    carousel: {{theme_settings.homepage_show_carousel}}
    blog:
    recent_posts:
        limit: {{theme_settings.homepage_blog_posts_count}}
---
{{#partial "hero"}}
{{#if carousel}}
{{> components/carousel}}
{{/if}}
{{{snippet 'home_content'}}}
{{/partial}}
{{#partial "page"}}
<!--{{#each shipping_messages}}
{{> components/common/alert-info message}}
{{/each}}
-->
<div class="main full">

    <div class="hp-hero">
    <a href="/cat-daddy-tips/">
        <div class="container">
            <div class="img"><img src="https://cdn6.bigcommerce.com/s-rj0z9yqukq/product_images/uploaded_images/hp-main-img.png" alt="Jackson Galaxy"></div>
            <div class="text">
                <div class="title-image">
                    <img src="https://cdn6.bigcommerce.com/s-rj0z9yqukq/product_images/uploaded_images/hp-main-title-img1.png" alt="Jackson Galaxy">
                    <img src="https://cdn6.bigcommerce.com/s-rj0z9yqukq/product_images/uploaded_images/hp-main-title-img2.png" alt="The Cat Daddy">
                </div>
                <!--<p>Find the natural solutions, toys, treats, &amp; curated items trusted by Jackson Galaxy for over 20 years as a cat behaviorist and host of Animal Planet’s My Cat from Hell. Help your pets live a healthy and fulfilling life. <span><br> Peace, Love, &amp; Mojo</span> <br>
                </p>-->
                <p>With 20 years experience helping cats and the people who love them, Jackson Galaxy a.k.a. the Cat Daddy has all the resources you need for pet guardianship. You've come to the right place for cat products, resources and more!</p>
                <div class="cta"><i class="ion-ios-arrow-forward"></i>Check out our resource center</div>
        </div>
        <div class="clear"></div>
    </div>
    </a>
        
</div>
{{> components/home/solution-kickers}}
{{#if theme_settings.hp_promo_enabled}}
<div class="hp-promo-bar">
    <div class="container">
        <div class="hp-promo">
            {{{theme_settings.hp_promo}}} {{{theme_settings.hp_promo_item}}} <span class="promo-code">USE CODE: <strong>{{{theme_settings.hp_promo_code}}}</strong></span>
        </div>
    </div>
</div>
{{/if}}
<div class="kittyhub-promo">
    <div class="container">
        <a href="{{theme_settings.blog_promo_graphic_link}}">
            <img src="https://cdn6.bigcommerce.com/s-rj0z9yqukq/product_images/uploaded_images/{{theme_settings.blog_promo_graphic}}" alt="promo" class="desk">
        <img src="https://cdn6.bigcommerce.com/s-rj0z9yqukq/product_images/uploaded_images/{{theme_settings.blog_promo_graphic_mobile}}" alt="promo" class="mob">
        </a>

    </div>
</div>
{{> components/home/featured-categories}}
<div class="hp-foundation-section">
    <div class="container">
        <!--<h3>A portion of proceeds help animals through the Jackson Galaxy Foundation</h3>-->
        <div class="content">
            <div class="text">
                <div class="title">There’s so much more!</div>
                <p>Want to help animals like Jackson? Need some tips on acclimating your pets? The cat mojo’s all here! Check out the pages below to get started. </p>
            </div>
        </div>
    </div>
</div>
<div class="hp-resource-section">
    <div class="container">
        <a href="{{theme_settings.hp_resource_link_1}}">
            <div class="hp-resource-kicker hprk-1">
                <div class="top"><img src="https://cdn6.bigcommerce.com/s-rj0z9yqukq/product_images/uploaded_images/{{theme_settings.hp_resource_image_1}}" alt="{{theme_settings.hp_resource_title_1}}"></div>
            <div class="bottom">
                <div class="title">{{theme_settings.hp_resource_title_1}}</div>
                <div class="support-text">{{theme_settings.hp_resource_text_1}}</div>
                <div class="btn">Visit the Hub</div>
            </div>
            </div>
        </a>
        <a href="{{theme_settings.hp_resource_link_2}}">
           <div class="hp-resource-kicker hprk-2">
                <div class="top"><img src="https://cdn6.bigcommerce.com/s-rj0z9yqukq/product_images/uploaded_images/{{theme_settings.hp_resource_image_2}}" alt="{{theme_settings.hp_resource_title_2}}"></div>
            <div class="bottom">
                <div class="title">{{theme_settings.hp_resource_title_2}}</div>
                <div class="support-text">{{theme_settings.hp_resource_text_2}}</div>
                <div class="btn">Learn More</div>
            </div>
            </div>
        </a>
        <a href="{{theme_settings.hp_resource_link_3}}">
           <div class="hp-resource-kicker hprk-3">
                <div class="top"><img src="https://cdn6.bigcommerce.com/s-rj0z9yqukq/product_images/uploaded_images/{{theme_settings.hp_resource_image_3}}" alt="{{theme_settings.hp_resource_title_3}}"></div>
            <div class="bottom">
                <div class="title">{{theme_settings.hp_resource_title_3}}</div>
                <div class="support-text">{{theme_settings.hp_resource_text_3}}</div>
                <div class="btn">Explore</div>
            </div>
           </div>
        </a>
    </div>
</div>
<div class="clear"></div>
<!--<div class="mcfh-promo">
    <div class="container">
        Catch Jackson every Saturday at 9pm P/E <br>
    <span>on <img src="{{cdn '/img/ey-images/animalplanet-logo.jpg'}}" alt="Animal Planet Logo"><em>My Cat From Hell</em></span>
    </div>
</div>
-->

{{#if products.featured}}
{{> components/products/featured products=products.featured columns=theme_settings.homepage_featured_products_column_count}}
{{/if}}
{{#if products.top_sellers}}
{{> components/products/top products=products.top_sellers columns=theme_settings.homepage_top_products_column_count}}
{{/if}}
{{#if products.new}}
{{> components/products/new products=products.new columns=theme_settings.homepage_new_products_column_count}}
{{/if}}
</div>
<div id="nlpopup" class="nl-popup">
    <div class="container">
    <div class="nl-close">  <i class="ion-android-close">   </i></div>
        <div class="nl-popup-title">
            <img src="{{cdn '/assets/img/ey-images/jg-logo-purple.png'}}" alt="Jackson Galaxy Logo">
            <h3>Join our newsletter!</h3>
            <h4>Get exclusive offers, updates on new arrivals and more.</h4>
        </div>
        <div class="nl-popup-offer">Sign up now to receive <span class="offer">10% OFF</span> your next purchase</div>
        <div class="nl-popup-form">
            <!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
    #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
    /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
       We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="//jacksongalaxy.us2.list-manage.com/subscribe/post?u=a81f5c0a24134ae1e172c8bd3&amp;id=8e6baa28f8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
    
<div class="mc-field-group">
    <input type="email" value="" name="EMAIL" class="required email form-input" id="mce-EMAIL" placeholder="Email">
    <input type="submit" value="Join" name="subscribe" id="mc-embedded-subscribe" class="button form-submit">
</div>
    <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_a81f5c0a24134ae1e172c8bd3_8e6baa28f8" tabindex="-1" value=""></div>
    <div class="clear"></div>
    </div>
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='TEXTYUI_3';ftypes[3]='text';fnames[4]='CITY';ftypes[4]='text';fnames[5]='STATE';ftypes[5]='text';fnames[6]='ZIP';ftypes[6]='text';fnames[7]='COUNTRY';ftypes[7]='text';fnames[8]='SUBSCRIBER';ftypes[8]='text';fnames[9]='LORDER';ftypes[9]='date';fnames[10]='COMPANY';ftypes[10]='text';fnames[11]='MMERGE11';ftypes[11]='text';fnames[12]='MMERGE12';ftypes[12]='text';fnames[13]='MMERGE13';ftypes[13]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->
        </div>
        <div class="nl-offer-terms">
            Offer valid for new email subscribers. Code will be delivered via email after sign up. Must enter promo code to receive discount. Excludes GiftCards.
        </div>
    </div>
</div>

<script type="text/javascript">
var google_tag_params = {
ecomm_prodid: '',
ecomm_pagetype: 'home',
ecomm_totalvalue: 0,
};
</script>
{{/partial}}
{{> layout/base}}