<div class="featured-categories">
    <div class="container">
        <h3>Shop by Category</h3>
        <div class="hp-category hpcat1">
            <div class="left">
                <a href="{{theme_settings.hp_featured_category_link_1}}"><img src="https://cdn6.bigcommerce.com/s-rj0z9yqukq/product_images/uploaded_images/{{theme_settings.hp_featured_category_image_1}}" alt="{{theme_settings.hp_featured_category_1}}"></a>
            </div>
            <a href="{{theme_settings.hp_featured_category_link_1}}">
                <div class="right">
                <div class="hpcat-name">{{theme_settings.hp_featured_category_1}}</div>
                <div class="hpcat-support">{{theme_settings.hp_featured_category_support_text_1}}</div>
                <div class="hpcat-link">Shop Now</div>
            </div>
            </a>
        </div>
        <div class="hp-category hpcat2">
            <div class="left">
                <a href="{{theme_settings.hp_featured_category_link_2}}"><img src="https://cdn6.bigcommerce.com/s-rj0z9yqukq/product_images/uploaded_images/{{theme_settings.hp_featured_category_image_2}}" alt="{{theme_settings.hp_featured_category_2}}"></a>
            </div>
            <a href="{{theme_settings.hp_featured_category_link_2}}">
                <div class="right">
                <div class="hpcat-name">{{theme_settings.hp_featured_category_2}}</div>
                <div class="hpcat-support">{{theme_settings.hp_featured_category_support_text_2}}</div>
                <div class="hpcat-link">Shop Now</div>
            </div>
            </a>
        </div>
        <div class="hp-category hpcat3">
            <div class="left">
                <a href="{{theme_settings.hp_featured_category_link_3}}"><img src="https://cdn6.bigcommerce.com/s-rj0z9yqukq/product_images/uploaded_images/{{theme_settings.hp_featured_category_image_3}}" alt="{{theme_settings.hp_featured_category_3}}"></a>
            </div>
            <a href="{{theme_settings.hp_featured_category_link_3}}">
                <div class="right">
                <div class="hpcat-name">{{theme_settings.hp_featured_category_3}}</div>
                <div class="hpcat-support">{{theme_settings.hp_featured_category_support_text_3}}</div>
                <div class="hpcat-link">Shop Now</div>
            </div>
            </a>
        </div>
    </div>
</div>