<div class="solution-kickers">
    <div class="container">
    <h3>How can I help solve your pet issues?</h3>
        <div class="solution-container">
        {{#if theme_settings.hp_solution_link_1}}
        <a href="{{theme_settings.hp_solution_link_1}}">
            <div class="hp-solution">
                <div class="title">{{theme_settings.hp_solution_title_1}}</div>
                <div class="graphic"><img src="https://cdn6.bigcommerce.com/s-rj0z9yqukq/product_images/uploaded_images/{{theme_settings.hp_solution_graphic_1}}" alt="{{theme_settings.hp_solution_1}}"></div>
                <div class="pet-problem">
                {{{theme_settings.hp_solution_issue_1}}} {{{theme_settings.hp_solution_customer_1}}}
                </div>
                <div class="solution">
                    <div class="product"><img src="https://cdn6.bigcommerce.com/s-rj0z9yqukq/product_images/uploaded_images/{{theme_settings.hp_solution_prod_image_1}}" alt="{{theme_settings.hp_solution_1}}"></div>
                    <div class="recommendation">
                        <em>I Recommend:</em>
                        {{theme_settings.hp_solution_1}}
                        <div class="btn">Learn More</div>
                    </div>
                </div>
            </div>
        </a>
        {{/if}}
        {{#if theme_settings.hp_solution_link_2}}
        <a href="{{theme_settings.hp_solution_link_2}}">
            <div class="hp-solution">
                <div class="title">{{theme_settings.hp_solution_title_2}}</div>
                <div class="graphic"><img src="https://cdn6.bigcommerce.com/s-rj0z9yqukq/product_images/uploaded_images/{{theme_settings.hp_solution_graphic_2}}" alt="{{theme_settings.hp_solution_2}}"></div>
                <div class="pet-problem">
                {{{theme_settings.hp_solution_issue_2}}} {{{theme_settings.hp_solution_customer_2}}}
                </div>
                <div class="solution">
                    <div class="product"><img src="https://cdn6.bigcommerce.com/s-rj0z9yqukq/product_images/uploaded_images/{{theme_settings.hp_solution_prod_image_2}}" alt="{{theme_settings.hp_solution_2}}"></div>
                    <div class="recommendation">
                        <em>I Recommend:</em>
                        {{theme_settings.hp_solution_2}}
                        <div class="btn">Learn More</div>
                    </div>
                </div>
            </div>
        </a>
        {{/if}}
        {{#if theme_settings.hp_solution_link_3}}
        <a href="{{theme_settings.hp_solution_link_3}}">
            <div class="hp-solution">
                <div class="title">{{theme_settings.hp_solution_title_3}}</div>
                <div class="graphic"><img src="https://cdn6.bigcommerce.com/s-rj0z9yqukq/product_images/uploaded_images/{{theme_settings.hp_solution_graphic_3}}" alt="{{theme_settings.hp_solution_3}}"></div>
                <div class="pet-problem">
                {{{theme_settings.hp_solution_issue_3}}} {{{theme_settings.hp_solution_customer_3}}}
                </div>
                <div class="solution">
                    <div class="product"><img src="https://cdn6.bigcommerce.com/s-rj0z9yqukq/product_images/uploaded_images/{{theme_settings.hp_solution_prod_image_3}}" alt="{{theme_settings.hp_solution_3}}"></div>
                    <div class="recommendation">
                        <em>I Recommend:</em>
                        {{theme_settings.hp_solution_3}}
                        <div class="btn">Learn More</div>
                    </div>
                </div>
            </div>
        </a>
        {{/if}}
    </div>
    <div class="more-solutions">
        Want to see more solutions?
        <a href="/health-behavior-aids/solutions/">View All</a>
    </div>
    </div>
</div>