<div id="TrustColumn">
	<div class="tcol">
	<img src="{{cdn 'assets/img/ey-images/trust-mission.png'}}" alt="">
		<strong>Our Mission</strong>
		<p>We work to improve the lives of animals and their guardians everyday. </p>
	</div>
	<div class="tcol">
	<img src="{{cdn 'assets/img/ey-images/trust-shipping.png'}}" alt="">
		<strong>Free Shipping <span>on Orders $50+</span></strong>
		<p>Within the US. No code necessary.</p>
	</div>
	<div class="tcol">
	<img src="{{cdn 'assets/img/ey-images/trust-secure.png'}}" alt="">
		<strong>Secure Shopping</strong>
		<p></p>
	</div>
</div>