<div id="TrustColumn">
	<div class="tcol">
	<img src="{{cdn 'assets/img/ey-images/trust-mission.png'}}" alt="">
		<strong>Our Mission</strong>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor </p>
	</div>
	<div class="tcol">
	<img src="{{cdn 'assets/img/ey-images/trust-shipping.png'}}" alt="">
		<strong>Free Shipping <span>on Orders $50+</span></strong>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor </p>
	</div>
	<div class="tcol">
	<img src="{{cdn 'assets/img/ey-images/trust-secure.png'}}" alt="">
		<strong>Secure Shopping</strong>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor </p>
	</div>
</div>