<!DOCTYPE html>
<html>
<head>
    <title>{{ head.title }}</title>
    {{{ head.meta_tags }}}
    {{{ head.config }}}

    <link href="{{ head.favicon }}" rel="shortcut icon">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet"> 
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    {{{stylesheet '/assets/css/ey-styles.css'}}}
    {{#block "head"}}{{/block}}
</head>
<body>
    {{#block "page"}}{{/block}}
</body>
</html>
