
{{#for 1 5}}
    {{#if ../this.rating '>=' $index}}
        <span class="icon icon--ratingFull">
            <svg>
                <use xlink:href="#icon-star" />
            </svg>
        </span>
    {{else}}
        <span class="icon icon--ratingEmpty">
            <svg>
                <use xlink:href="#icon-star" />
            </svg>
        </span>
    {{/if}}
{{/for}}

{{#isnt page_type 'product'}}
    {{#is rating 0}}
        <span class="rating-none">(NO REVIEWS YET)</span>
    {{/is}}
{{/isnt}}

{{{snippet 'product_rating'}}}
